.stepcarousel{
	position: relative; /*leave this value alone*/
	border: 10px;
	overflow: scroll; /*leave this value alone*/
	width: 640px; /*Width of Carousel Viewer itself*/
	height: 260px; /*Height should enough to fit largest content's height*/
	background-position: center;
	vertical-align:middle;
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .panel{
	float: left; /*leave this value alone*/
	overflow: hidden; /*margin around each panel*/
	width: 178px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	height: 260px;
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
	margin-left: 29px;
}
